@page "/subforums/{Id}/posts"
@using Domain
@using HttpClients.ClientInterfaces
@inject IPostService postService;



@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (posts == null)
{
    <span>Loading..</span>
}
else if (!posts.Any())
{
    <span>No posts to be found</span>
}
else
{
    <h3>@subForumTitle</h3>
    <div class="post-container">
        @foreach (Post post in posts)
        {
            <div class="post-card">
                <label class="post-card-title">@post.Title</label>
                <NavLink class="nav-link" href="@($"users/{post.Author.Username}")" Match="NavLinkMatch.All">
                    <label class="post-card-author">by @post.Author.Username</label>
                </NavLink>
                @if (post.Context.Length >= 15)
                {
                    <label class="post-card-context">@post.Context.Substring(0, 14)...</label>
                }
                else
                {
                    <label class="post-card-context">@post.Context</label>
                }
                <NavLink class="nav-link" href="@($"subforums/{Id}/posts/{post.Id}")" Match="NavLinkMatch.All">
                    <button>Visit it</button>
                </NavLink>
            </div>
        }
    </div>
}

<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="@($"subforums/{Id}/CreatePost")" Match="NavLinkMatch.All">
            <label>Create a post</label>
        </NavLink>
    </Authorized>
    <NotAuthorized>
        <p>You need to be logged in in order to create a post</p>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public string Id { get; set; }

    private IEnumerable<Post>? posts;
    private string msg = "";
    private string subForumTitle = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            posts = await postService.GetPostsBySubforumAsync(Id);
            subForumTitle = posts.First().Subforum.Title;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}