@page "/users/{userName}"
@using Domain
@using HttpClients.ClientInterfaces
@using System.Collections
@inject IPostService postService;
@inject IUserService userService;

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (user == null)
{
    <span>Loading..</span>
}
else
{
    <h1>@user.Username</h1>
    <h3>@user.Email</h3>                  
}

@if (posts == null)
{
    <span>Loading..</span>
}
else if (!posts.Any())
{
    <span>No posts by @user?.Username</span>
}
else
{
    <div class="post-container">
        @foreach (Post post in posts)
        {
            <div class="post-card">
                <label class="post-card-title">@post.Title</label>
                <NavLink class="nav-link" href="@($"users/{post.Author.Username}")" Match="NavLinkMatch.All">
                    <label class="post-card-author">by @post.Author.Username</label>
                </NavLink>
                
                @if (post.Context.Length >= 15)
                {
                    <label class="post-card-context">@post.Context.Substring(0, 14)...</label>
                }
                else
                {
                    <label class="post-card-context">@post.Context</label>
                }
                <NavLink class="nav-link" href="@($"subforums/{post.Subforum.Id}/posts/{post.Id}")" Match="NavLinkMatch.All">
                    <button>Visit it</button>
                </NavLink>
            </div>
        }
    </div>
}

@code {

    [Parameter]
    public string userName { get; set; }

    private string msg = "";

    private IEnumerable<Post>? posts;
    private User? user;

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            user = await userService.GetUserByUserNameAsync(userName);
            posts = await postService.GetPostsByUserAsync(userName);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}